<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path ('app_home') }}">Réunion signal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">

      {# {% if is_granted('ROLE_DMM_EVAL') or is_granted('ROLE_SURV_PILOTEVEC') %} #}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Signaux
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              {# <li><a class="dropdown-item" href="{{ path ('app_affiche_susar_eu') }}">test : liste des SUSARs (master_id)</a></li> #}
              <li><a class="dropdown-item" href="{{ path ('app_signal_liste', {'typeSignal': 'signal'}) }}">Liste des signaux</a></li>
              <li><a class="dropdown-item" href="{{ path ('app_signal_new') }}">Nouveau signal</a></li>
            </ul>
          </li>
        </ul>
			{# {% endif %} #}
      
      {# {% if is_granted('ROLE_DMM_EVAL') or is_granted('ROLE_SURV_PILOTEVEC') %} #}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Faits marquants
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              {# <li><a class="dropdown-item" href="{{ path ('app_affiche_susar_eu') }}">test : liste des SUSARs (master_id)</a></li> #}
              <li><a class="dropdown-item" href="{{ path ('app_fait_marquant_liste', {'typeSignal': 'fait_marquant'}) }}">Liste des faits marquants</a></li>
              <li><a class="dropdown-item" href="{{ path ('app_fait_marquant_new') }}">Nouveau fait marquant</a></li>
            </ul>
          </li>
        </ul>
			{# {% endif %} #}

      {# {% if is_granted('ROLE_DMFR_GEST') %} #}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reunion signal
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              {# {% if is_granted('ROLE_SURV_PILOTEVEC') %} #}
                <li><a class="dropdown-item" href="#">Préparation d'une réunion - sélection des signaux</a></li>
              {# {% endif %} #}
              {# {% if is_granted('ROLE_SURV_ADMIN') %} #}
                <li><a class="dropdown-item" href="#">Saisie d'information pendant une réunion</a></li>
              {# {% endif %} #}
              <li><a class="dropdown-item" href="{{ path ('app_reunion_signal_liste') }}">Liste des réunions signal</a></li>

              {# <li><a class="dropdown-item" href="#">Import d'un fichier CTLL</a></li> #}

              {# {% if is_granted('ROLE_DMFR_REF') %} #}
                {# <li><a class="dropdown-item" href="#">Bilan des imports des fichiers CTLL</a></li> #}
              {# {% endif %} #}
            </ul>
          </li>
        </ul>
			{# {% endif %} #}

      {# {% if is_granted('ROLE_SURV_PILOTEVEC') %} #}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Actions
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">

              <li><a class="dropdown-item" href="#">Suivi des actions</a></li>
              {# <li><a class="dropdown-item" href="#">Exports pilotage</a></li> #}

              <li><a class="dropdown-item" href="#">Recherche des actions</a></li>


            </ul>
          </li>
        </ul>
			{# {% endif %} #}

      {# {% if is_granted('ROLE_DMFR_ADMIN') or is_granted('ROLE_SURV_ADMIN') %} #}
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Administration</a>
        </li>
      </ul>
      {# {% endif %} #}

      {# {% if is_granted('ROLE_USER') %} #}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Aide
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#" target="_blank">Guide utilisateur</a></li>
              {# {% if is_granted('ROLE_SUPER_ADMIN') %} #}
                <li><a class="dropdown-item" href="#" target="_blank">Guide utilisateur d'administration</a></li>
              {# {% endif %} #}
            </ul>
          </li>
        </ul>
			{# {% endif %} #}

      {# Liens pour la connexion/deconnexion #}
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if app.user %}
          <li class="nav-item">
            {# <a class="nav-link" href="#">Deconnexion</a> #}
            <a class="nav-link" href="{{ path ('app_logout') }}">Deconnexion</a>
          </li>
          {% if is_granted('ROLE_SUPER_ADMIN') == false %}
            <li class="nav-item">
              <a class="nav-link" href="#">Modification de mon mot de passe</a>
              {# <a class="nav-link" href="{{ path ('app_modif_user_password') }}">Modification de mon mot de passe</a> #}
            </li>
          {% endif %}
        {% else %}
          <li class="nav-item">
            {# <a class="nav-link" href="#">Connexion</a> #}
            <a class="nav-link" href="{{ path ('app_login') }}">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Inscription</a>
            {# <a class="nav-link" href="{{ path ('app_contact_admin') }}">Inscription</a> #}
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
