{% extends 'base.html.twig' %}

{% block title %}Détail de la réunion du {{ reunionSignal.DateReunion ? reunionSignal.DateReunion|format_datetime('long', 'none', locale='fr') : 'N/A' }}{% endblock %}

{% block body_class 'reunion-signal-detail-bg' %}

{% block body %}

	{# Affichage des messages flash #}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

{{ encore_entry_link_tags('reunion_signal_detail_css') }}

<div class="container-fluid mt-4 page-reunion-signal-detail">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h1 class="mb-0">Réunion du {{ reunionSignal.DateReunion ? reunionSignal.DateReunion|format_datetime(dateFormat='long', timeFormat='none', locale='fr') : 'Pas de date de réunion' }}</h1>
            <span class="text-muted">{{ reunionSignal.DateReunion ? reunionSignal.DateReunion|format_datetime(pattern="EEEE", timeFormat='none', locale='fr')|capitalize : '' }}</span>
        </div>
        <div class="actions-container" style="min-width: 450px;">
            <div class="row row-cols-2 g-2">
                <div class="col d-grid">
                    <a href="{{ path('app_signal_new', {'reunionId': reunionSignal.id, 'routeSource': 'app_reunion_signal_detail', 'reuSiId': reunionSignal.id, 'tab': currentTab}) }}" class="btn btn-primary">
                        <i class="bi bi-file-earmark-plus me-1"></i> Créer un nouveau signal
                    </a>
                </div>
                <div class="col d-grid">
                    <a href="{{ path('app_reunion_search_for_suivi', {'reunionId': reunionSignal.id, 'type': 'signal', 'routeSource': 'app_reunion_signal_detail', 'reuSiId': reunionSignal.id, 'tab': currentTab}) }}" class="btn btn-outline-primary">
                        <i class="bi bi-plus-circle me-1"></i> Ajouter un suivi de signal
                    </a>
                </div>
                <div class="col d-grid">
                    <a href="{{ path('app_fait_marquant_new', {'reunionId': reunionSignal.id, 'routeSource': 'app_reunion_signal_detail', 'reuSiId': reunionSignal.id, 'tab': currentTab}) }}" class="btn btn-info">
                        <i class="bi bi-file-earmark-plus-fill me-1"></i> Créer un nouveau fait marquant
                    </a>
                </div>
                <div class="col d-grid">
                    <a href="{{ path('app_reunion_search_for_suivi', {'reunionId': reunionSignal.id, 'type': 'fait_marquant', 'routeSource': 'app_reunion_signal_detail', 'reuSiId': reunionSignal.id, 'tab': currentTab}) }}" class="btn btn-outline-info">
                        <i class="bi bi-plus-circle-fill me-1"></i> Ajouter un suivi de fait marquant
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="reunionTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link {% if currentTab == 'nouveaux-signaux' %}active{% endif %}" href="{{ path('app_reunion_signal_detail', {'reuSiId': reunionSignal.id, 'tab': 'nouveaux-signaux'}) }}">
                Nouveaux Signaux <span class="badge rounded-pill bg-secondary badge-count">{{ nouveauxSignaux|length }}</span>
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link {% if currentTab == 'suivis-signaux' %}active{% endif %}" href="{{ path('app_reunion_signal_detail', {'reuSiId': reunionSignal.id, 'tab': 'suivis-signaux'}) }}">
                Suivis de Signaux <span class="badge rounded-pill bg-secondary badge-count">{{ suivisSignaux|length }}</span>
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link {% if currentTab == 'nouveaux-fm' %}active{% endif %}" href="{{ path('app_reunion_signal_detail', {'reuSiId': reunionSignal.id, 'tab': 'nouveaux-fm'}) }}">
                Nouveaux Faits Marquants <span class="badge rounded-pill bg-secondary badge-count">{{ nouveauxFaitsMarquants|length }}</span>
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link {% if currentTab == 'suivis-fm' %}active{% endif %}" href="{{ path('app_reunion_signal_detail', {'reuSiId': reunionSignal.id, 'tab': 'suivis-fm'}) }}">
                Suivis de Faits Marquants <span class="badge rounded-pill bg-secondary badge-count">{{ suivisFaitsMarquants|length }}</span>
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link {% if currentTab == 'details-reunion' %}active{% endif %}" href="{{ path('app_reunion_signal_detail', {'reuSiId': reunionSignal.id, 'tab': 'details-reunion'}) }}">
                Détails de la réunion
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content p-3" id="reunionTabContent">
        {% if currentTab == 'nouveaux-signaux' %}

            {# Card des signaux prévus à cette date #}
            {% include 'reunion_signal_detail/_signaux_card.html.twig' with {
                'suiviLies': nouveauxSignaux,
                'currentTab': currentTab,
                'reunionSignal': reunionSignal,
            } %}


            {# Card des nouveaux signaux non-clôturés et non-prévus #}
            {% include 'reunion_signal_detail/_signauxInitiauxNonPrevus_card.html.twig' with {
                'signauxInit': signauxNouveauxSansDateSuiviInit,
                'currentTab': currentTab,
                'reunionSignal': reunionSignal,
                'typeSignal': 'signal'
            } %}

        {% elseif currentTab == 'suivis-signaux' %}

            {# Card des signaux prévus à cette date #}
            {% include 'reunion_signal_detail/_signaux_card.html.twig' with {
                'suiviLies': suivisSignaux,
                'currentTab': currentTab,
                'reunionSignal': reunionSignal,
            } %}

            {# Card des signaux antérieurs non-cloturés et non-prévus à cette date #}
            {% include 'reunion_signal_detail/_signauxAnterieurs_card.html.twig' with {
                'signauxAnterieurs': signauxAnterieurs,
                'currentTab': currentTab,
                'reunionSignal': reunionSignal,
                'typeSignal': 'signal'
            } %}

        {% elseif currentTab == 'nouveaux-fm' %}

            {# Card des signaux prévus à cette date #}
            {% include 'reunion_signal_detail/_signaux_card.html.twig' with {
                'suiviLies': nouveauxFaitsMarquants,
                'currentTab': currentTab,
                'reunionSignal': reunionSignal,
            } %}

            {# Card des nouveaux faits marquants non-clôturés et non-prévus #}
            {% include 'reunion_signal_detail/_signauxInitiauxNonPrevus_card.html.twig' with {
                'signauxInit': faitsMarquantsNouveauxSansDateSuiviInit,
                'currentTab': currentTab,
                'reunionSignal': reunionSignal,
                'typeSignal': 'fait_marquant'
            } %}

        {% elseif currentTab == 'suivis-fm' %}

            {# Card des signaux prévus à cette date #}
            {% include 'reunion_signal_detail/_signaux_card.html.twig' with {
                'suiviLies': suivisFaitsMarquants,
                'currentTab': currentTab,
                'reunionSignal': reunionSignal,
            } %}            

            {# Card des signaux antérieurs non-cloturés et non-prévus à cette date #}
            {% include 'reunion_signal_detail/_signauxAnterieurs_card.html.twig' with {
                'signauxAnterieurs': faitsMarquantsAnterieurs,
                'currentTab': currentTab,
                'reunionSignal': reunionSignal,
                'typeSignal': 'fait_marquant',
            } %}

        {% elseif currentTab == 'details-reunion' %}

            {# Card des signaux prévus à cette date #}
            {% include 'reunion_signal_detail/_details_reunion.html.twig' with {
                'currentTab': currentTab,
                'reunionSignal': reunionSignal,
                'form': form,
            } %}

        {% endif %}
    </div>
</div>
{% endblock %}