{% extends 'base.html.twig' %}

{% block body_class %}page-fait-marquant{% endblock %}

{% block title %}Liste des faits marquants{% endblock %}

{% block body %}

<div class="container-fluid m-20">
    {# Affichage des messages flash #}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            {% if type == 'error' %}
                <div class="alert alert-danger">{{ message }}</div>
            {% elseif type == 'success' %}
                <div class="alert alert-success">{{ message }}</div>
            {% elseif type == 'warning' %}
                <div class="alert alert-warning">{{ message }}</div>
            {% else %}
                <div class="alert alert-info">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% if signals is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Créé le</th>
                    <th>Modifié le</th>
                    <th>Statut signal</th>
                    <th>Relevé de décision</th>
                </tr>
            </thead>
            <tbody>
                {% for signal in signals %}
                    <tr>
                        <td>
                        <a href="{{ path('app_signal_modif', {'signalId': signal.id, 'routeSource': 'app_fait_marquant_liste'}) }}">
                                {{ signal.id }}
                            </a>
                        </td>
                        <td>{{ signal.titre }}</td>
                        <td>
                            {# {{ signal.DescriptionSignal }} #}
                            {{ signal.DescriptionSignal|slice(0, 500) }}{% if signal.DescriptionSignal|length > 500 %}...{% endif %}
                            </td>
                        <td>
                            {% if signal.createdAt != null %}
                                {{ signal.createdAt|format_datetime(dateFormat='short', timeFormat='short', locale='fr') }}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                        <td>
                            {% if signal.updatedAt != null %}
                                {{ signal.updatedAt|format_datetime(dateFormat='short', timeFormat='short', locale='fr') }}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                        <td>
                            {% set statutActif = null %}
                            {% for statut in signal.statutSignals %}
                                {% if statut.statutActif %}
                                    {% set statutActif = statut %}
                                {% endif %}
                            {% endfor %}
                            {% if statutActif %}
                                {{ statutActif.libStatut }}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                        <td>
                            {% if signal.getReleveDeDecision() is not empty %}
                                {% for rdd in signal.getReleveDeDecision() %}
                                    {% if rdd.DescriptionRDD is not empty %}
                                        <ul>
                                            <li>
                                                {{ rdd.NumeroRDD }} - 
                                                {{ rdd.getReunionSignal().DateReunion|format_datetime(dateFormat='short', timeFormat='none', locale='fr') }} - 
                                                {# {{ rdd.DescriptionRDD }} #}
                                                {{ rdd.DescriptionRDD|slice(0, 300) }}{% if rdd.DescriptionRDD|length > 300 %}...{% endif %}
                                            </li>
                                        </ul>
                                    {% else %}
                                        <ul>
                                            <li>
                                                {{ rdd.NumeroRDD }} - 
                                                {{ rdd.getReunionSignal().DateReunion|format_datetime(dateFormat='short', timeFormat='none', locale='fr') }} - 
                                                Pas de description
                                            </li>
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                Pas de relevé de décision
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger mt-3">
            Aucun fait marquant trouvé.
        </div>
    {% endif %}
</div>
{% endblock %}
