{% extends 'base.html.twig' %}

{% block body_class %}
    {% if typeSignal == 'signal' %}
        page-signal
    {% elseif typeSignal == 'fait_marquant' %}
        page-fait-marquant
    {% endif %}
{% endblock %}

{% block title %}
    {% if typeSignal == 'signal' %}
        Liste des signaux
    {% elseif typeSignal == 'fait_marquant' %}
        Liste des faits marquants
    {% endif %}
{% endblock %}

{% block body %}


{{ encore_entry_link_tags('tables_css') }}

<div class="container-fluid m-20">

	{# Affichage des messages flash #}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}
    
    {% if signals is not empty %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Créé le</th>
                    <th>Modifié le</th>
                    <th>Statut signal</th>
                    <th>Suivi</th>
                    <th>Relevé de décision</th>
                </tr>
            </thead>
            <tbody>
                {% for signal in signals %}
                    <tr>
                        <td>
                            <a href="{{ path('app_signal_modif', {'signalId': signal.id, 'routeSource': 'app_signal_liste'}) }}">
                                {{ signal.id }}
                            </a>
                        </td>
                        <td>{{ signal.titre }}</td>
                        <td>
                            {# {{ signal.DescriptionSignal }} #}
                            {{ signal.DescriptionSignal|slice(0, 500) }}{% if signal.DescriptionSignal|length > 500 %}...{% endif %}
                            </td>
                        <td>
                            {% if signal.createdAt != null %}
                                {{ signal.createdAt|format_datetime(dateFormat='short', timeFormat='short', locale='fr') }}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                        <td>
                            {% if signal.updatedAt != null %}
                                {{ signal.updatedAt|format_datetime(dateFormat='short', timeFormat='short', locale='fr') }}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                        <td>
                            {% set statutActif = null %}
                            {% for statut in signal.statutSignals %}
                                {% if statut.statutActif %}
                                    {% set statutActif = statut %}
                                {% endif %}
                            {% endfor %}
                            {% if statutActif %}
                                {{ statutActif.libStatut }}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                        <td>
                            {% if signal.getSuivis() is not empty %}
                                {% for suivi in signal.getSuivis() %}
                                    {% if suivi.DescriptionSuivi is not empty %}
                                        <ul>
                                            <li>
                                                <a href="{{ path('app_modif_suivi', {'signalId': signal.id, 'suiviId': suivi.id, 'routeSource': 'app_signal_liste'}) }}">{{ suivi.NumeroSuivi }}</a> - 
                                                {{ suivi.reunionSignal and suivi.reunionSignal.DateReunion ? suivi.reunionSignal.DateReunion|format_datetime(dateFormat='short', timeFormat='none', locale='fr') : 'N/A' }} - 
                                                {# {{ suivi.DescriptionSuivi }} #}
                                                {{ suivi.DescriptionSuivi|slice(0, 300) }}{% if suivi.DescriptionSuivi|length > 300 %}...{% endif %}
                                            </li>
                                        </ul>
                                    {% else %}
                                        <ul>
                                            <li>
                                                <a href="{{ path('app_modif_suivi', {'signalId': signal.id, 'suiviId': suivi.id, 'routeSource': 'app_signal_liste'}) }}">{{ suivi.NumeroSuivi }}</a> -
                                                {{ suivi.reunionSignal and suivi.reunionSignal.DateReunion ? suivi.reunionSignal.DateReunion|format_datetime(dateFormat='short', timeFormat='none', locale='fr') : 'N/A' }} - 
                                                Pas de description
                                            </li>
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                Pas de suivi
                            {% endif %}
                        </td>
                        <td>
                            {% if signal.getReleveDeDecision() is not empty %}
                                {% for rdd in signal.getReleveDeDecision() %}
                                    {% if rdd.DescriptionRDD is not empty %}
                                        <ul>
                                            <li>
                                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                    <a href="{{ path('app_modif_RDD', {'signalId': signal.id, 'rddId': rdd.id}) }}">{{ rdd.NumeroRDD }}</a> -
                                                {% else %}
                                                    {{ rdd.NumeroRDD }} -
                                                {% endif %}
                                                {{ rdd.reunionSignal and rdd.reunionSignal.DateReunion ? rdd.reunionSignal.DateReunion|format_datetime(dateFormat='short', timeFormat='none', locale='fr') : 'N/A' }} - 
                                                {# {{ rdd.DescriptionRDD }} #}
                                                {{ rdd.DescriptionRDD|slice(0, 300) }}{% if rdd.DescriptionRDD|length > 300 %}...{% endif %}
                                            </li>
                                        </ul>
                                    {% else %}
                                        <ul>
                                            <li>
                                                <a href="{{ path('app_modif_RDD', {'signalId': signal.id, 'rddId': rdd.id}) }}">{{ rdd.NumeroRDD }}</a> -
                                                {{ rdd.reunionSignal and rdd.reunionSignal.DateReunion ? rdd.reunionSignal.DateReunion|format_datetime(dateFormat='short', timeFormat='none', locale='fr') : 'N/A' }} - 
                                                Pas de description
                                            </li>
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                Pas de relevé de décision
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger mt-3">
            
            {% if typeSignal == 'signal' %}
                Aucun signal trouvé.
            {% elseif typeSignal == 'fait_marquant' %}
                Aucun fait marquant trouvé.
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}
