{% extends 'base.html.twig' %}

{% block title %}Liste des réunions signal{% endblock %}

{% block body %}

<div class="container-md">
    {% if reunionsSignal is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date de Réunion</th>
                    <th>Jour</th>
                    <th>Réunion annulée</th>
                    <th>Signaux</th>
                </tr>
            </thead>
            <tbody>
                {% for reunionSignal in reunionsSignal %}
                    <tr>
                        <td>
                            {# <a href="{{ path('app_signal_modif', {'signalId': signal.id}) }}"> #}
                                {{ reunionSignal.id }}
                            {# </a> #}
                        </td>

                        <td>
                            {% if reunionSignal.DateReunion != null %}
                                {{ reunionSignal.DateReunion|format_datetime(dateFormat='short', timeFormat='none', locale='fr') }}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                        <td>
                            {% if reunionSignal.DateReunion != null %}
                                {{ reunionSignal.DateReunion|format_datetime(pattern: "EEEE", timeFormat='none', locale='fr') }}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                        <td>
                            {% if reunionSignal.ReunionAnnulee == true %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                        <td>
                            {# <a href="{{ path('app_signal_modif', {'signalId': signal.id}) }}"> #}
                                {% if reunionSignal.getSignalLie() is not empty %}
                                    <ul>
                                        {% for signal in reunionSignal.getSignalLie() %}
                                            <li>
                                                {{ signal.titre }} <BR>
                                                <div>
                                                    <strong>Description du signal :</strong>
                                                    {{ signal.DescriptionSignal|slice(0, 100) }}{% if signal.DescriptionSignal|length > 100 %}...{% endif %}
                                                </div>
                                                

                                                {% set rddTrouve = null %}
                                                {% for rdd in reunionSignal.getReleveDeDecision() %}
                                                    {% if rdd.SignalLie == signal %}
                                                        {% set rddTrouve = rdd %}
                                                    {% endif %}
                                                {% endfor %}

                                                {% if rddTrouve %}
                                                    <div>
                                                        <strong>Description du relevé de décision :</strong>
                                                        {{ rddTrouve.DescriptionRDD|slice(0, 100) }}{% if rddTrouve.DescriptionRDD|length > 100 %}...{% endif %}
                                                    </div>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    Pas de signaux
                                {% endif %}
                            {# </a> #}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger mt-3">
            Aucun signal trouvé.
        </div>
    {% endif %}
</div>
{% endblock %}
