{% extends 'base.html.twig' %}

{% block body_class %}
    {% if signal.TypeSignal == 'signal' %}
        page-signal
    {% elseif signal.TypeSignal == 'fait_marquant' %}
        page-fait-marquant
    {% endif %}
{% endblock %}

{% block title %}Signal
{% endblock %}

{% block body %}

{{ encore_entry_link_tags('rdd_css') }}
{{ encore_entry_link_tags('signal_form_css') }}

	{# Affichage des messages flash #}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}


    {% if signal.TypeSignal == 'signal' %}
        <div class="display-4 text-center mt-3 mb-3">Modification du signal</div>
    {% elseif signal.TypeSignal == 'fait_marquant' %}
        <div class="display-4 text-center mt-3 mb-3">Modification du fait marquant</div>
    {% endif %}

{# {{ dump(form.suiviInitial.reunionSignal.vars) }} #}

<div class="container-md">
    {{ form_start(form) }}
    {# {{ form_row(form.rddInitial.reunionSignal, { 'row_attr': {'class': 'd-none'} }) }} #}
    {% if form.rddInitial.reunionSignal is defined %}
        {{ form_row(form.rddInitial.reunionSignal, { 'row_attr': {'class': 'd-none'} }) }}
    {% endif %}
    <div class="row g-3">
        <!-- Card Signal -->
        <div class="col-12">
            <div class="card shadow-sm signal-card--{{ signal.TypeSignal|replace({'_': '-'}) }}">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">
                        <i class="bi"></i>
                        {% if signal.TypeSignal == 'signal' %}
                            Signal
                        {% elseif signal.TypeSignal == 'fait_marquant' %}
                            Fait marquant
                        {% endif %}
                    </h5>
                </div>
                <div class="card-body">

                    {# Titre #}
                    <div class="row">
                        <div class="col-12">{{ form_label(form.signal.Titre) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-12">{{ form_widget(form.signal.Titre) }}</div>
                    </div>

                    {# Description, Indication et contexte #}
                    <div class="row">
                        <div class="col-12">{{ form_label(form.signal.DescriptionSignal) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-12">{{ form_widget(form.signal.DescriptionSignal) }}</div>
                    </div>

                    {# Description, Indication et contexte #}
                    <div class="row">
                        <div class="col-4">{{ form_label(form.signal.Indication) }}</div>
                        <div class="col-8">{{ form_label(form.signal.Contexte) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-4">{{ form_widget(form.signal.Indication) }}</div>
                        <div class="col-8">{{ form_widget(form.signal.Contexte) }}</div>
                    </div>


                    <!-- Nouvelle ligne pour contenir les deux blocs côte à côte -->
                    <div class="row mt-3">

                        <!-- bloc Gammes -->
                        <div class="col-md-9">
                            <fieldset class="mb-3 border p-3 rounded gamme-fieldset">
                                {# <legend class="text-center h5 mb-3 fw-bold">
                                    {{ form.signal.gammes.vars.label }}
                                </legend> #}
                                {{ form_row(form.signal.gammes) }}
                            </fieldset>
                        </div>
                        <!-- Nouveau bloc pour Source, Référence, Identifiant -->
                        <div class="col-md-3">
                            <div class="d-flex flex-column justify-content-around h-100">
                                {# Source du signal #}
                                <div class="mb-3">
                                    {{ form_label(form.signal.SourceSignal) }}
                                    {{ form_widget(form.signal.SourceSignal) }}
                                </div>
                                <div class="mb-3">
                                    {{ form_label(form.signal.RefSignal) }}
                                    {{ form_widget(form.signal.RefSignal) }}
                                </div>
                                <div class="mb-3">
                                    {{ form_label(form.signal.IdentifiantSource) }}
                                    {{ form_widget(form.signal.IdentifiantSource) }}
                                </div>
                            </div>

                        </div>
                    </div>

                    {# Niveaux de risque #}
                    <div class="row">
                        <div class="col-2">{{ form_label(form.signal.NiveauRisqueInitial) }}</div>
                        <div class="col-2">{{ form_label(form.signal.NiveauRisqueFinal) }}</div>
                        <div class="col-8">{{ form_label(form.signal.AnaRisqueComment) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-2">{{ form_widget(form.signal.NiveauRisqueInitial) }}</div>
                        <div class="col-2">{{ form_widget(form.signal.NiveauRisqueFinal) }}</div>
                        <div class="col-8">{{ form_widget(form.signal.AnaRisqueComment) }}</div>
                    </div>

                    
                    
                    <!-- Nouvelle sous-card pour le suivi et RDD initial -->
                    {# <div class="card border-primary mb-3"> #}
                    <div class="card border-primary mb-3 {% if isLatestRdd %}suivi_rdd-actif{% else %}suivi_rdd-inactif{% endif %}">
                        <div class="card-header bg-light">
                            <h6>
                                Suivi et RDD initiaux {% if isLatestRdd %}(Actif){% else %}(Inactif){% endif %}
                            </h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {# <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Suivi initial</label>
                                        {{ form_widget(form.suivi_initial, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>RDD initial</label>
                                        {{ form_widget(form.rdd_initial, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div> #}
                                
                                {# Données portées par le suivi initial : Émetteur, Pilote, date de la réunion #}
                                <div class="row justify-content-center">
                                    <div class="col-2">{{ form_label(form.suiviInitial.EmetteurSuivi, 'Émetteur initial') }}</div>
                                    <div class="col-2">{{ form_label(form.suiviInitial.PiloteDS, 'Pilote initial') }}</div>
                                    <div class="col-2">
                                        {# {{ form_label(form.suiviInitial.reunionSignal, 'Date réunion') }} #}
                                        {% if form.suiviInitial.reunionSignal is defined %}
                                            {{ form_label(form.suiviInitial.reunionSignal, 'Date réunion') }}
                                        {% else %}
                                            <label>Date réunion</label>
                                        {% endif %}
                                    </div>
                                    {# DEBUT - Masquage de la description du suivi initial (N°0) #}
                                    {% if false %}
                                    <div class="col-6">{{ form_label(form.suiviInitial.DescriptionSuivi, 'Description initiale') }}</div>
                                    {% endif %}
                                    {# FIN - Masquage de la description du suivi initial (N°0) #}
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-2">{{ form_widget(form.suiviInitial.EmetteurSuivi) }}</div>
                                    <div class="col-2">{{ form_widget(form.suiviInitial.PiloteDS) }}</div>
                                    <div class="col-2">
                                        {# {{ form_widget(form.suiviInitial.reunionSignal) }} #}
                                        {% if form.suiviInitial.reunionSignal is defined %}
                                            {{ form_widget(form.suiviInitial.reunionSignal, {
                                                'attr': {
                                                    'class': 'form-select' ~ (lstSuivi is not empty ? ' is-disabled' : ''),
                                                    'disabled': (lstSuivi is not empty)
                                                }
                                            }) }}
                                        {% else %}
                                            <select class="form-control" disabled>
                                                <option value="">Aucune réunion disponible</option>
                                            </select>
                                        {% endif %}
                                    </div>
                                </div>
            
            
                                <!-- Sous-card pour le Relevé de Décision Initial -->
                                <div class="card shadow-sm mt-3">
                                    <div class="card-header bg-light">
                                        <h6 class="card-title mb-0">
                                            <i class="bi bi-card-checklist"></i> Relevé de Décision Initial (N°0)
                                        </h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">{{ form_row(form.rddInitial.DescriptionRDD) }}</div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-md-2 d-flex flex-column justify-content-around">
                                                {{ form_row(form.rddInitial.PassageCTP) }}
                                            </div>
                                            <div class="col-md-2 d-flex flex-column justify-content-around">
                                                {{ form_row(form.rddInitial.PassageRSS) }}
                                            </div>
                                        </div>
            
                                        {% if mesuresInitiales is not empty %}
                                            <hr>
                                            <h6 class="card-subtitle mb-2 text-muted">Mesures associées</h6>
                                            <table class="table table-sm table-bordered table-striped">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th>Libellé de la mesure</th>
                                                        <th>Détail de la mesure</th>
                                                        <th>Date prévisionnelle</th>
                                                        <th>Date de mise en œuvre</th>
                                                        <th style="width: 100px;">Modif.</th>
                                                        {# <th style="width: 100px;">Clôture</th> #}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for mesure in mesuresInitiales %}
                                                        <tr class="{{ mesure.DesactivateAt ? 'text-muted' : '' }}">
                                                            <td>{{ mesure.LibMesure }}</td>
                                                            <td>{{ mesure.DetailCommentaire }}</td>
                                                            <td>{{ mesure.DatePrevisionnelle ? mesure.DatePrevisionnelle|date('d/m/Y') : '' }}</td>
                                                            <td>{{ mesure.DateMiseEnOeuvre ? mesure.DateMiseEnOeuvre|date('d/m/Y') : '' }}</td>
                                                            <td>
                                                                {% if isLatestRdd and mesure.id %}
                                                                    <a href="{{ path('app_modif_mesure', {'signalId': signal.id, 'rddId': form.rddInitial.vars.data.id, 'mesureId': mesure.id}) }}" class="btn btn-sm btn-primary" style="width: 95px;" title="Modifier la mesure">
                                                                        <i class="bi bi-pencil-square"></i> Modif.
                                                                    </a>
                                                                {% else %}
                                                                    <button class="btn btn-sm btn-secondary" style="width: 95px;" disabled title="{{ not isLatestRdd ? 'Modification impossible sur un ancien RDD' : 'Disponible après validation' }}">
                                                                        <i class="bi bi-pencil-square"></i> Modif.
                                                                    </button>
                                                                {% endif %}
                                                            </td>
                                                            {# <td>
                                                                {% if isLatestRdd and mesure.id %}
                                                                    {% if mesure.DesactivateAt is null %}
                                                                        <a href="{{ path('app_toggle_cloture_mesure', {
                                                                            'mesureId': mesure.id,
                                                                            'redirect': 'app_signal_modif',
                                                                            'params': {'signalId': signal.id}
                                                                        }) }}" class="btn btn-sm btn-success" style="width: 95px;" title="Clôturer la mesure">
                                                                            <i class="bi bi-check-square"></i> Clore
                                                                        </a>
                                                                    {% else %}
                                                                        <a href="{{ path('app_toggle_cloture_mesure', {
                                                                            'mesureId': mesure.id,
                                                                            'redirect': 'app_signal_modif',
                                                                            'params': {'signalId': signal.id}
                                                                        }) }}" class="btn btn-sm btn-warning" style="width: 95px;" title="Rouvrir la mesure">
                                                                            <i class="bi bi-arrow-counterclockwise"></i> Rouvrir
                                                                        </a>
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% set disabled_title = not isLatestRdd ? 'Action impossible sur un ancien RDD' : 'Disponible après validation' %}
                                                                    <button class="btn btn-sm btn-secondary" style="width: 95px;" disabled title="{{ disabled_title }}">
                                                                        <i class="bi {{ mesure.DesactivateAt is null ? 'bi-check-square' : 'bi-arrow-counterclockwise' }}"></i> {{ mesure.DesactivateAt is null ? 'Clore' : 'Rouvrir' }}
                                                                    </button>
                                                                {% endif %}
                                                            </td> #}
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <div class="alert alert-light mt-3" role="alert">
                                                Aucune mesure n'est associée à ce relevé de décision initial.
                                            </div>
                                        {% endif %}
            
                                        <div class="row mt-3">
                                            <div class="col-12 d-flex justify-content-center">
                                                {% set button_disabled = not (isLatestRdd and form.rddInitial.vars.data.id) %}
                                                {{ form_widget(form.signal.ajout_mesure, {
                                                    'attr': {
                                                        'disabled': button_disabled,
                                                        'title': button_disabled ? 'Vous ne pouvez ajouter une mesure que sur le dernier relevé de décision.' : 'Ajouter une nouvelle mesure'
                                                    }
                                                }) }}
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin de la nouvelle sous-card -->


                    <div class="row mt-4">
                        <div class="col-6 d-flex justify-content-center">
                            {{ form_widget(form.signal.validation) }}
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            {{ form_widget(form.signal.annulation) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <!-- Card Produit -->
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header bg-success text-dark">
                    <h5 class="card-title mb-0">
                        <i class="bi"></i> Produits
                    </h5>
                </div>
                <div class="card-body">

                    {% if lstProduits is not empty %}
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Dénomination</th>
                                    <th>DCI</th>
                                    <th>Dosage</th>
                                    <th>Voie</th>
                                    <th>Type procédure</th>
                                    <th>Code CIS</th>
                                    <th>Code ATC</th>
                                    <th>Libellé ATC</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for produit in lstProduits %}
                                    <tr>
                                        <td>{{ produit.id }}</td>
                                        <td>{{ produit.Denomination }}</td>
                                        <td>{{ produit.DCI }}</td>
                                        <td>{{ produit.Dosage }}</td>
                                        <td>{{ produit.Voie }}</td>
                                        <td>{{ produit.TypeProcedure }}</td>
                                        <td>
                                        {# http://newintranet.ansm-intra.fr/Applis/iMono/prod/ms.php?codeCIS={{ produit.CodeCIS }} - Monographie de la spécialité #}
                                        {# https://agence-prd.ansm.sante.fr/php/ecodex/extrait.php?specid={{ produit.CodeCIS }} -  	Répertoire des Spécialités Pharmaceutiques #}
                                        {# https://base-donnees-publique.medicaments.gouv.fr/medicament/{{ produit.CodeCIS }}/extrait - Base de Données Publiques des Médicaments #}
                                            {% if produit.CodeCIS %}
                                                <a href="http://newintranet.ansm-intra.fr/Applis/iMono/prod/ms.php?codeCIS={{ produit.CodeCIS }}" target="_blank" rel="noopener noreferrer">
                                                    {{ produit.CodeCIS }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>{{ produit.CodeATC }}</td>
                                        <td>{{ produit.LibATC }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Aucun produit associé.</p>
                    {% endif %}

                    {# Boutons Produits #}

                    <div class="row">
                        <div class="col-6 d-flex justify-content-center">
                            {{ form_widget(form.signal.ajout_produit) }}
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            {{ form_widget(form.signal.ajout_produit_saisie_manu) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- Card Suivi -->
        <div class="col-12">
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-warning text-dark">
                    <h5 class="card-title mb-0">
                        <i class="bi bi-card-list"></i> Historique des suivis
                    </h5>
                </div>
                <div class="card-body">

                    {% if lstSuivi is not empty %}
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Numéro de suivi</th>
                                    <th>Date réunion</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for suivi in lstSuivi %}
                                    {% set row_class = 'suivi-inactif' %}
                                    {% if latestSuiviId is defined and suivi.id == latestSuiviId %}
                                        {% set row_class = 'suivi-actif' %}
                                    {% endif %}
                                    <tr class="{{ row_class }}">
                                        <td>
                                            <a href="{{ path('app_modif_suivi', {'signalId': signal.id, 'suiviId': suivi.id}) }}">{{ suivi.NumeroSuivi }}</a>
                                            {# <a href="{{ path('app_modif_suivi', {'signalId': signal.id, 'suiviId': suivi.id}) }}">
                                                {# {{ suivi.NumeroSuivi }} #}
                                            {# </a> #}
                                        </td>       {#  app_modif_suivi #}
                                        <td>{{ suivi.reunionSignal and suivi.reunionSignal.dateReunion ? suivi.reunionSignal.dateReunion|date('d/m/Y') : '' }}</td>
                                        <td>{{ suivi.DescriptionSuivi }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Aucun suivi associé.</p>
                    {% endif %}

                    {# Boutons Suivi #}

                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            {{ form_widget(form.signal.ajout_suivi) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}