{% extends 'base.html.twig' %}

{% block title %}Signal
{% endblock %}

{% block body %}
<div class="display-4 text-center mt-3 mb-3">Nouveau signal</div>
<div class="container-md">
    {{ form_start(form) }}

    <div class="row g-3">
        <!-- Card Signal -->
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">
                        <i class="bi"></i> Signal
                    </h5>
                </div>
                <div class="card-body">

                    {# Titre #}
                    <div class="row">
                        <div class="col-12">
                            {{ form_label(form.signal.Titre, 'Titre') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form_widget(form.signal.Titre) }}
                        </div>
                    </div>

                    {# Description, Indication et contexte #}
                    <div class="row">
                        <div class="col-4">
                            {{ form_label(form.signal.Indication, 'Indication') }}
                        </div>
                        <div class="col-4">
                            {{ form_label(form.signal.DescriptionSignal, 'Description du signal') }}
                        </div>
                        <div class="col-4">
                            {{ form_label(form.signal.Contexte, 'Contexte') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            {{ form_widget(form.signal.Indication) }}
                        </div>
                        <div class="col-4">
                            {{ form_widget(form.signal.DescriptionSignal) }}
                        </div>
                        <div class="col-4">
                            {{ form_widget(form.signal.Contexte) }}
                        </div>
                    </div>

                    {# Niveaux de risque #}
                    <div class="row">
                        <div class="col-2">
                            {{ form_label(form.signal.NiveauRisqueInitial, 'Niveau de risque initial') }}
                        </div>
                        <div class="col-2">
                            {{ form_label(form.signal.NiveauRisqueFinal, 'Niveau de risque final') }}
                        </div>
                        <div class="col-8">
                            {{ form_label(form.signal.AnaRisqueComment, "Commentaire de l'analyse de risque") }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            {{ form_widget(form.signal.NiveauRisqueInitial) }}
                        </div>
                        <div class="col-2">
                            {{ form_widget(form.signal.NiveauRisqueFinal) }}
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.signal.AnaRisqueComment) }}
                        </div>
                    </div>

                    {# Source du signal #}
                    <div class="row">
                        <div class="col-2">
                            {{ form_label(form.signal.SourceSignal, 'Source du signal') }}
                        </div>
                        <div class="col-2">
                            {{ form_label(form.signal.RefSignal, 'Référence du signal') }}
                        </div>
                        <div class="col-2">
                            {{ form_label(form.signal.IdentifiantSource, 'Identifiant source') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            {{ form_widget(form.signal.SourceSignal) }}
                        </div>
                        <div class="col-2">
                            {{ form_widget(form.signal.RefSignal) }}
                        </div>
                        <div class="col-2">
                            {{ form_widget(form.signal.IdentifiantSource) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Card Relevé -->
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header bg-success text-white">
                    <h5 class="card-title mb-0">
                        <i class="bi"></i> Relevé de décision
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            {{ form_label(form.releve.NumeroRDD, 'Numéro du relevé de décision') }}
                        </div>
                        <div class="col-10">
                            {{ form_label(form.releve.DescriptionRDD, 'Description du relevé de décision') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            {{ form_widget(form.releve.NumeroRDD) }}
                        </div>
                        <div class="col-10">
                            {{ form_widget(form.releve.DescriptionRDD) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Boutons #}
        <div class="row">
            <div class="col-6 d-flex justify-content-center">
                {{ form_widget(form.validation) }}
            </div>
            <div class="col-6 d-flex justify-content-center">
                {{ form_widget(form.reset) }}
            </div>
        </div>

    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
