{# templates/ux_packages/toggle_password.html.twig #}

{% block body %}
    {% if form is defined %}
        {{ form_start(form, {
            'method': 'post',
            'action': path('app_login'),
            'attr': {
                'novalidate': 'novalidate'
            }
        }) }}
        
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            
            <h1 class="h3 mb-3 font-weight-normal">Merci de vous connecter</h1>
           
            {{ form_row(form._username, {
                'label': 'Email',
                'label_attr': {'for': 'inputEmail'}
            }) }}
           
            {{ form_row(form._password, {
                'label': 'Mot de passe',
                'label_attr': {'for': 'inputPassword'}
            }) }}
            
            {{ form_row(form._remember_me) }}
            
            {# Token CSRF manuel #}
            <input type="hidden" name="_token" value="{{ csrf_token('authenticate') }}">
            
            {{ form_widget(form.submit) }}
            
        {{ form_end(form, {'render_rest': false}) }}
    {% endif %}
{% endblock %}