{% extends 'base.html.twig' %}

{% block title %}Ajout de produit à un signal{% endblock %}

{% block body %}
	{# On charge la nouvelle feuille de style #}
	{{ encore_entry_link_tags('ajoutproduit_css') }} 

	{# On ajoute une div principale avec notre classe personnalisée pour appliquer le fond et l'espacement #}
	<div class="page-ajout-produit">
		<div class="container">
			<div class="row justify-content-center">
				{# {{ form_start(form) }} #}
                {{ form_start(form, {'attr': {'data-controller': 'format-produit-recherche'}}) }}

					{# On retire les classes bg-primary et text-white, le SCSS s'en occupe #}
                    <div class="card shadow-sm mb-4">
                        <div class="card-header">
                            <h5 class="mb-0">Informations médicament</h5>
                        </div>
                        <div class="card-body">
							<div class="row align-items-end">
								<div class="col-6">
									{{ form_row(form.Denomination, {'attr': {'data-format-produit-recherche-target': 'denomination'}}) }}
									{# {{ form_row(form.Denomination) }} #}
								</div>
								<div class="col-6">
                                    {{ form_row(form.DCI, {'attr': {'data-format-produit-recherche-target': 'dci'}}) }}
									{# {{ form_row(form.DCI) }} #}
								</div>
							</div>

							<div class="row align-items-end">
								<div class="col-2">
									{{ form_row(form.CodeATC) }}
								</div>
								<div class="col-4">
									{{ form_row(form.LibATC) }}
								</div>
								<div class="col-4">
									{{ form_row(form.Dosage) }}
								</div>
								<div class="col-2">
									{{ form_row(form.Voie) }}
								</div>
							</div>

							<div class="row align-items-end">
								<div class="col-2">
									{{ form_row(form.TypeProcedure) }}
								</div>
								<div class="col-2">
									{{ form_row(form.CodeDossier) }}
								</div>
								<div class="col-2">
									{{ form_row(form.CodeCIS) }}
								</div>
								<div class="col-2">
									{{ form_row(form.nomProduit) }}
								</div>
							</div>
                        </div>
                    </div>
					
                    <div class="card shadow-sm mb-4">
                        <div class="card-header">
                            <h5 class="mb-0">Informations exploitant</h5>
                        </div>
                        <div class="card-body">
							<div class="row align-items-end">
								<div class="col-1">
									{{ form_row(form.idLaboratoire, { 'label': 'ID labo' }) }}
								</div>
								<div class="col-4">
									{{ form_row(form.Laboratoire) }}
								</div>
							</div>
                            
                            <div class="row align-items-end">
                                <div class="col-3">
                                    {{ form_row(form.Adresse, { 'label': 'Adresse' }) }}
                                </div>
                                <div class="col-3">
                                    {{ form_row(form.AdresseComplExpl, { 'label': 'Complément' }) }}
                                </div>
                                <div class="col-1">
                                    {{ form_row(form.CodePostExpl, { 'label': 'CP' }) }}
                                </div>
                                <div class="col-3">
                                    {{ form_row(form.NomVilleExpl, { 'label': 'Ville' }) }}
                                </div>
                            </div>
                            
                            <div class="row align-items-end">
                                <div class="col-2">
                                    {{ form_row(form.Tel) }}
                                </div>
                                <div class="col-2">
                                    {{ form_row(form.Fax) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow-sm mb-4">
                        <div class="card-header">
                            <h5 class="mb-0">Informations titulaire</h5>
                        </div>
                        <div class="card-body">
                            <div class="row align-items-end">
                                <div class="col-1">
                                    {{ form_row(form.idTitulaire, { 'label': 'ID tit.' }) }}
                                </div>
                                <div class="col-4">
                                    {{ form_row(form.Titulaire) }}
                                </div>
                            </div>
							
							<div class="row align-items-end">
								<div class="col-3">
									{{ form_row(form.AdresseContact, { 'label': 'Adresse' }) }}
								</div>
								<div class="col-3">
									{{ form_row(form.AdresseCompl, { 'label': 'Complément' }) }}
								</div>
								<div class="col-1">
									{{ form_row(form.CodePost, { 'label': 'CP' }) }}
								</div>
								<div class="col-3">
									{{ form_row(form.NomVille, { 'label': 'Ville' }) }}
								</div>
								<div class="col-1">
									{{ form_row(form.DboPaysLibAbr) }}
								</div>
							</div>
							
							<div class="row align-items-end">
								<div class="col-2">
									{{ form_row(form.TelContact, { 'label': 'Téléphone' }) }}
								</div>
								<div class="col-2">
									{{ form_row(form.FaxContact, { 'label': 'Fax' }) }}
								</div>
							</div>
                        </div>
                    </div>

				<div class="row justify-content-center mt-3 gy-3">
					{# Ajout des classes personnalisées pour les boutons #}
					<div class="col-md-3 d-grid">
						{{ form_widget(form.validation, {'attr': {'class': 'btn-validation'}}) }}
					</div>
					<div class="col-md-3 d-grid">
						{{ form_widget(form.annulation, {'attr': {'class': 'btn-annulation'}}) }}
					</div>

                    <div class="col-md-3 d-grid">
                        {{ form_widget(form.formatDCI) }}
                    </div>
                    <div class="col-md-3 d-grid">
                        {{ form_widget(form.formatProduit) }}
                    </div>

                    {% if form.delete is defined %}
                        <div class="col-md-3 d-grid">
                            {{ form_widget(form.delete) }}
                        </div>
                    {% endif %}

				</div>

				{{ form_end(form) }}
			</div>
		</div>
	</div>

{% endblock %}

{# {% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('AjoutProduitRecherche') }}
{% endblock %} #}